/* ========= Color 1 ========== */
a:hover,
.simple-featured h2 i,
.logo i,
.col-title i,
.readmore,
.review span,
.cat a,
.vertical-heading i,
.cre-inner i,
.col-title span,
.big-text span,
.octa-btn.color,
.price,
.newsletter-form button,
.innovative-featured h3 i,
.block-title h2 span,
.meta li a,
.big-intro span,
.mod-service i,
.split-text h3 span,
.split-quote p i,
.split-text h4 i,
.huge-text h1 span,
.bottombar.style3 p a,
.bottombar.style2 p a,
.portfolio-detail-top h1 span,
.author-inner > i,
.subtitle i,
.reply,
.contact-box h4 i,
.traditional-title h2 i,
.team-detail-text > span{
	color:#0d50aa;
}

.block.color-bg,
ul li:before,
.portfolio-img,
.coloured:before,
.skillbar > .progress .progress-bar span,
.skillbar > .progress .progress-bar,
.project-video,
.octa-btn:before,
.slick-dots li.slick-active button,
.gradient-img,
.octa-features-carousel .slick-prev, 
.octa-features-carousel .slick-next,
.creative-img,
.creative-featured span,
.octa-btn.fill,
.featured,
.process:hover,
.classic-img,
.member-img:before,
.logos-carousel-wrap:before,
.awesome-img,
.form-btn,
.rounded-link:before,
.octa-btn.dark:before,
.octa-pagination ul.pagination li a.current,
.subscribe-form button,
.find-box span,
.abt-img,
.error-page span,
.toggle.colorful .toggle-item h2,
.blackbar .octa-name,
.fullmenu-btn{
	background-color:#0d50aa;
}

.octa-btn:hover,
.octa-btn.color,
.octa-btn.fill,
.block-title,
.huge-text h1 span,
.octa-pagination ul.pagination li a.current{
	border-color:#0d50aa;
}
