@media (max-width:1200px){
.project-name h2{font-size:34px}
.vertical-heading{font-size:40px;right:110px;
    -webkit-transform:rotate(-90deg) translateX(50%);
    -moz-transform:rotate(-90deg) translateX(50%);
    -ms-transform:rotate(-90deg) translateX(50%);
    -o-transform:rotate(-90deg) translateX(50%);
    transform:rotate(-90deg) translateX(50%);
}
.featured-carousel-wrap{padding-right:200px}
.big-text{font-size:45px}
.innovative-img img.short-img{margin-right:-230px}
.classic-services-wrapp img{width:550px}
.video-text h3{font-size:32px}
.process-inner h3{font-size:17px}
.big-desc{font-size:20px}
.octa-address strong{font-size:30px}
.octa-address i{font-size:20px}
.big-intro{font-size:60px}
.huge-text i{font-size:300px}
.mod-feat-text h1{font-size:40px}
.mod-feat-text{padding-right:100px}
.contact-box{padding:50px 20px}
.portfolio-single-img.stretch{width:100%;margin-left:0}
.octa-fullpage-title{margin-left:70px}
.feature-text h3{font-size:30px}
}

@media (max-width:980px){
nav{display:none}
nav ~ a.menu-btn{display:block}
.simple-featured h2{font-size:80px}
section .row > div,
section .row > aside{float:left;width:100%;display:unset;flex:none;max-width:none}
section .container > .row > div,
section .block > .row > div{margin:0 0 60px}
section .container > .row > div:last-child,
section .block > .row > div:last-child{margin:0}
.big-title{font-size:130px;margin:0 0 -13px}
.masonary > div{width:50%;float:left;max-width:none}
.octa-counters .row > div{width:50%}
.octa-team .row > div{float:left;width:50%}
.project-name{display:unset;float:left;width:100%;padding:40px !important}
.project-video{display:unset;float:left;width:100%;
    -webkit-transform:translate(0);
    -moz-transform:translate(0);
    -ms-transform:translate(0);
    -o-transform:translate(0);
    transform:translate(0);
}
.octa-blog .masonary > div{width:100%}
.octa-contacts-opts{text-align:center}
.octa-contacts-opts .row > div{float:none;display:inline-block;width:50%;margin:0 -2px}
.octa-contacts-opts .row{display:unset} 
.contact-opts i{display:block;width:100%;margin:0 0 15px}
.opt-detail{display:unset;width:100%;text-align:center}
.opt-detail strong{width:100%} 
.contact-opts{padding:0;width:100%}
.vertical-heading{position:relative;transform:none;right:auto;left:auto;top:auto;width:100%;float:left;width:100%;text-align:center;padding:0 20px;margin-top:30px}
.featured-carousel-wrap{padding:0}
.feature-text{padding:60px 15px}
.feature-text h3{font-size:25px}
.mockup.style2{margin:-300px 0 0}
footer .container > .row > div{max-width:50%;margin:0 0 60px;display:unset;flex:none}
.classic-services-wrapp img{display:unset;width:100%;margin:0 0 80px}
.classic-services-wrapp{display:unset}
.classic-services{padding:0 15px;display:unset;float:left;width:100%}
.octa-processnig > .row > div{margin:0 0 40px}
.octa-processnig > .row > div:last-child{margin:0}
.octa-process .row > div{width:50%}
.video-inner{position:relative;float:left;width:100%;background:#2e2e2e;padding:40px}
.video-text{padding:40px 0 0;text-align:center}
.video-text h3{padding:0 0 30px;margin:0 0 30px}
.fancy-team > .row > div{float:left;width:50%}
.logos-carousel-wrap{margin:0;padding:40px}
.octa-fullpage-title{margin-left:40px}
.octa-fullpage-title h3{font-size:32px;margin:0 0 20px}
.huge-text h1{font-size:50px}
.huge-text i{font-size:200px}
.huge-text{margin:0}
.modern-featured img{width:100%;margin:0}
.modern-featured{margin:0;padding:0 15px}
.mod-feat-text{width:100%;margin:50px 0 0;text-align:center;padding:0} 
.mod-feat-text h1{font-size:40px} 
.special-name{position:relative;float:left;width:94%;transform:none;left:3%;top:-25px}
.octa-gallery .row > div{float:left;width:16.668%}
.portfolio-text .row > div{float:left;width:100%;margin:0 0 50px}
.portfolio-text .row > div:last-child{margin:0}
.portfolio-detail-top{padding:100px 0}
.portfolio-detail-top h1{font-size:50px}
.portfolio-detail.style2 .info-box{width:100%}
.portfolio-detail.style2{padding:0 15px}
.portfolio-detail.style2 > .row > div{float:left;width:100%;margin:0 0 50px}
.portfolio-detail.style2 > .row > div:last-child{margin:0}
.team-detail{display:unset}
.abt-img{display:unset;float:left;width:100%}
.abt-img img{width:100%} 
.team-detail-text{display:unset;float:left;width:100%;padding:40px 0 0}
.team-detail .octa-skills{width:100%}
.team-detail .round-socials{float:left;width:100%;margin:30px 0 0}
.team-detail-text > h1{font-size:40px} 
.team-detail-text > span{font-size:20px}
}


@media (max-width:767px){
header.hdr-border, header{padding:15px 0}
.container, .block .container{max-width:none;width:100%;padding:0 15px}
.big-title{font-size:100px}
.simple-portfolio.no-gap{padding:0 15px}
.full-height{height:auto!important}
.form-btn{right:10px;bottom:10px}
.creative-featured h2{font-size:55px}
.creative-featured i{font-size:25px}
.simple-parallax > h4{font-size:35px;line-height:1.2}
.simple-parallax > p{font-size:22px}
.table-container{display:unset;float:left;width:100%}
.table-container{display:unset}
.octa-welcome{padding:0}
.fullpage-header{width:50px}
.fullmenu-btn{width:50px;font-size:28px;height:50px;line-height:50px}
.blackbar .octa-name{padding:20px 15px 20px 45px;width:260px}
body.menu-opened .fullpage-header .sideheader{left:50px;width:230px}
.split-project{display:unset;float:left;overflow:auto}
.split-img{display:unset;float:left;height:400px;width:100%}
.split-text{display:unset;float:left;width:100%;padding:140px 20px}
.split-text h3{font-size:40px}
.split-quote p{font-size:30px}
.split-text h4{font-size:40px}
.decent-img:hover .decent-hover{transform:translateX(-15px)}
.error-page h1{font-size:160px;margin:0 0 40px}
.error-page span{font-size:20px;padding:5px 20px;margin:0 0 30px}
.error-page p{font-size:18px}
.pagetop h1{font-size:43px}
.pagetop{padding:170px 0 70px}
.octa-author{display:unset}
.octa-author > img{display:unset}
.author-inner{display:unset;padding:30px 0 0;float:left;width:100%}
.octa-author .round-socials{float:left;width:100%;margin:0 0 20px} 
.comment{display:unset;float:left;width:100%}
.comment > img{display:unset}
.comment-inner{display:unset;padding:30px 0 0;float:left;width:100%}
.octa-comments li ul{padding:0} 
.post-title{font-size:24px}
.octa-blog-detail .cat-box{padding:5px 15px}
.octa-blog-detail .cat-box a{font-size:12px}
.subscribe-form button{position:relative;float:left;width:100%;right:0;top:0}
.subscribe-form{height:auto;background:none;border:0}
.subscribe-form input{background:#FFF;height:60px;border-radius:50px;width:100%;padding:0 30px;margin:0 0 10px}
.portfolio-single-img.stretch{margin:0 0 30px;width:100%}
.portfolio-title{font-size:34px}
h2.portfolio-title{font-size:23px}
.project-video a.zoomer img{width:70px}
.abt-img img{transform:none}
.simple-featured{margin:150px 0 100px}
.simple-featured h2{font-size:50px}
}

@media (max-width:480px){
.simple-featured h2{font-size:45px}
.col-title{font-size:35px}
.simple-services{padding:30px 30px 20px}
.big-title{font-size:50px;margin:0 0 -4px}
.masonary > div{width:100%}
.simple-hover{padding:30px}
.octa-counters .row > div{width:100%}
.octa-title h2{font-size:42px}
.octa-team .row > div{width:100%}
.octa-post.style2 .date{position:relative;float:left;width:100%;left:0;top:0;right:auto;width:100%;margin:0 0 30px}
.octa-post.style2 .post-name{padding:30px}
.octa-contacts-opts .row > div{margin:0;width:100%}
.bottombar p{width:100%;text-align:center;margin:0 0 25px}
.bottombar .socials{width:100%;text-align:center}
.bottombar .socials a{float:none;display:inline-block;margin:0 4px}
.sideheader{width:80%;right:-80%}
.sidemenu ul{padding:0 30px}
.action-text{width:100%;max-width:none;margin:0 0 30px}
footer .container > .row > div{max-width:100%}
.innovative-featured h3{font-size:45px}
.innovative-img img{margin:0;width:100%}
.octa-process .row > div{width:100%}
.fancy-team > .row > div{width:100%}
.octa-fullpage-title{padding:40px 20px}
.octa-fullpage-title h3{font-size:25px}
.octa-fullpage-title .octa-btn{padding:10px 30px;font-size:13px}
.contact-form-inner{width:100%;padding:0 20px;max-height:100%;overflow:auto}
.big-intro{font-size:35px}
.huge-text h1{font-size:30px}
.huge-text i{font-size:90px}
.mod-feat-text h1{font-size:30px}
.octa-gallery .row > div{width:33.334%}
.post-information .round-socials{float:left;width:100%;margin-top:20px}
.find-box p{float:left;width:100%;margin:20px 0 0}
.portfolio-pagination{padding:30px 10px}
.portfolio-pagination a{font-size:24px}
.portfolio-pagination a.prev, .portfolio-pagination a.next{font-size:14px}
.portfolio-pagination a.prev i,.portfolio-pagination a.next i{font-size:20px}
.project-info li{width:100%}
.bottombar .logo{width:100%;text-align:center;margin:0 0 20px}
}

